@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype"),
       url("../fonts/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
       url("../fonts/GothamPro/GothamProLight/GothamProLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype"),
       url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
       url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype"),
       url("../fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
       url("../fonts/GothamPro/GothamProMedium/GothamProMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../fonts/PFDinTextCompPro/PFDinTextCompProThin/PFDinTextCompProThin.ttf") format("truetype"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProThin/PFDinTextCompProThin.woff") format("woff"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProThin/PFDinTextCompProThin.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../fonts/PFDinTextCompPro/PFDinTextCompProLight/PFDinTextCompProLight.ttf") format("truetype"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProLight/PFDinTextCompProLight.woff") format("woff"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProLight/PFDinTextCompProLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../fonts/PFDinTextCompPro/PFDinTextCompProRegular/PFDinTextCompProRegular.ttf") format("truetype"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProRegular/PFDinTextCompProRegular.woff") format("woff"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProRegular/PFDinTextCompProRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../fonts/PFDinTextCompPro/PFDinTextCompProMedium/PFDinTextCompProMedium.ttf") format("truetype"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProMedium/PFDinTextCompProMedium.woff") format("woff"),
       url("../fonts/PFDinTextCompPro/PFDinTextCompProMedium/PFDinTextCompProMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondProRegular/PFDinTextCondProRegular.ttf") format("truetype"),
       url("../fonts/PFDinTextCondPro/PFDinTextCondProRegular/PFDinTextCondProRegular.woff") format("woff"),
       url("../fonts/PFDinTextCondPro/PFDinTextCondProRegular/PFDinTextCondProRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro/PFDinTextCondProMedium/PFDinTextCondProMedium.ttf") format("truetype"),
       url("../fonts/PFDinTextCondPro/PFDinTextCondProMedium/PFDinTextCondProMedium.woff") format("woff"),
       url("../fonts/PFDinTextCondPro/PFDinTextCondProMedium/PFDinTextCondProMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

