
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, blockquote, li {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'GothamPro';
  font-weight: 400;
  letter-spacing: .1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @black;
  background-color: @black;

  @media (max-width: 768px) {
    font-size: 11px;
    letter-spacing: -1px;
  }
}

input, textarea, button, select {
  appearance: none;
  outline: none;
  border: none;
  background: none;

  &:hover, &:focus, &:active {
    outline: none;
  }
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
    color: @color;
  }
  &:-moz-placeholder {
    color: @color;
  }
  &::-ms-input-placeholder {
    color: @color;
  }
}

.link() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

a {
  .link();
}

li {
  display: inline-block;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
}

