.title {
  font-size: 48px;
  font-family: 'PFDinTextCompPro';
  letter-spacing: .1px;
  line-height: 56px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 33px;
    line-height: 36px;
    letter-spacing: -1px;
  }

  &__main {
    font-weight: 500;
    color: @white;
  }

  &__details {
    font-weight: 200;
    color: @black-light;
  }

  &__dark {
    font-weight: 500;
    color: @black;
  }
}