
// // Transformation
// .text-lowercase()      { text-transform: lowercase; }
// .text-uppercase()      { text-transform: uppercase; }
// .text-capitalize()     { text-transform: capitalize; }

// .base-text() {
//   font-family: @font-family--base;
//   font-size: @font-size--base;
//   color: @text-color;
//   line-height: @line-height--base;
//   font-weight: 300;
//   font-style: normal;

//   @media (max-width: 861px) {
//     font-weight: 400;
//   }
// }

// .h1-text() {
//   font-size: @font-size--h1;
//   line-height: @line-height--h1;
//   color: @gray;
//   font-weight: 300;
//   font-style: normal;
//   cursor: default;
//   @media (max-width: 861px) {
//     font-weight: 400;
//   }
// }

// .h2-text() {
//   font-size: @font-size--h2;
//   line-height: @line-height--h2;
//   color: @gray;
//   font-weight: 300;
//   font-style: normal;
//   cursor: default;
//   @media (max-width: 861px) {
//     font-weight: 400;
//     line-height: 1.3;
//   }
// }

// .h3-text() {
//   font-size: @font-size--h3;
//   line-height: @line-height--h3;
//   color: @gray;
//   font-weight: 300;
//   font-style: normal;
//   cursor: default;
//   @media (max-width: 861px) {
//     font-weight: 400;
//   }
// }

.h2-text() {
  font-size: 72px;
  font-family: 'PFDinTextCondPro';
  font-weight: 500;
  line-height: 80px;
}
