// colors

@black: #242424;

@black-light: #595959;

@gray: #B2B2B2;

@gray-light: #808080;

@orange: #ED700B;

@white: #FFFFFF;

// // colors
// @gray:   #262626;
// @gray-light:   #929292;


// // Global text color on `<body>`.
// @text-color: 			   @gray-light;

// //==  Typography

// // fonts' famalies
// @roboto:      'Roboto';


// @font-family--base:         @roboto;

// // fonts' sizes
// @font-size--base:           13px;


// @font-size--h1:      ceil((@font-size--base * 3.23)); // ~42px

// @font-size--h2:      ceil((@font-size--base * 1.69)); // ~22px

// @font-size--h3:      ceil((@font-size--base * 1.15)); // ~15px



// // line-height
// @line-height--base:         1.38; // 18/13


// @line-height--h1:         1.16; // 49/40

// @line-height--h2:         1.14; // 25/22

// @line-height--h3:         1.4; // 18/15




