html {

}
.all,
.single {
  position: relative;
  min-height: 100vh;
  padding-bottom: 325px;
  background-color: #303030;

  @media (max-width: 768px) {
    padding-bottom: 240px;
  }
}

.main {
  overflow-x: hidden;
}

.main__all {
  padding-top: 32px;
  padding-bottom: 88px;

  @media (max-width: 768px) {
    padding-top: 123px;
    padding-bottom: 55px;
  }

  .inner {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .artists {
    padding: 0;
  }

  .artists__title {
    @media (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 12px;
    }
  }

  .artists__list {
    padding: 0 30px;

    @media (max-width: 768px) {
      padding: 0;
      text-align: center;
    }
  }

  .artists__item {
    width: 150px;
    margin: 0 24px 50px 0;

    @media (max-width: 768px) {
      margin: 0 9px 20px;
    }
  }

  .artists__nav {
    @media (max-width: 768px) {
      margin-bottom: 31px;
    }
  }

  .artists__nav-link {
    @media (max-width: 768px) {
      padding: 0 9px;
    }
  }

  .artist__hover-inner {
    @media (max-width: 768px) {
      padding: 20px 15px;
    }
  }

  .artist__hover-name {
    @media (max-width: 768px) {
      margin-bottom: -3px;
    }
  }

  .artist__hover-tags {
    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  .portfolio__inner {
    padding-top: 0;
  }

  .portfolio__header {
    margin-bottom: 50px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .portfolio__list {

    @media (max-width: 768px) {
      margin: 0;
      white-space: normal;
    }
  }

  .portfolio__item {
    @media (max-width: 768px) {
      width: 100%;
      min-height: 310px;
      margin: 0 0 20px;
    }
  }
}

.main__back {
  max-width: 1650px;
  margin: 0 auto 16px;
  padding: 0 30px;
}

.main__back-link {
  font-family: "GothamPro";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  margin: 0 30px;
  cursor: pointer;
  text-decoration: none;
  color: @orange;

  &:before {
    position: absolute;
    bottom: 3px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: @orange;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 16px;
    padding: 0;
  }

  &:hover {
    text-decoration: none;

    &:before {
      background-color: transparent;
    }
  }
}

.main__single {
  padding-top: 64px;
  padding-bottom: 160px;

  @media (max-width: 768px) {
    padding-top: 122px;
    padding-bottom: 59px;
  }

  .single-artist {
    max-width: 930px;
    margin: 0 auto;
    text-align: center;
  }

  .single-artist {

    &__title {
      font-size: 96px;
      font-family: 'PFDinTextCompPro';
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 96px;
      margin-bottom: 8px;
      text-transform: uppercase;
      color: @white;

      @media (max-width: 768px) {
        font-size: 33px;
        line-height: 36px;
      }
    }

    .artists__nav-links {
      max-width: 100%;
      margin-bottom: 62px;

      @media (max-width: 768px) {
        margin-bottom: 32px;
      }
    }

    &__photos {
      overflow: hidden;
      height: 540px;
      margin-bottom: 88px;

      @media (max-width: 768px) {
        height: auto;
        margin-bottom: 39px;
      }
    }

    &__photo {

      img {
        width: 100%;
      }
    }

    &__social {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 147px;

      @media (max-width: 768px) {
        // justify-content: center;
        margin-bottom: 0;
        padding: 0 25px;
      }
    }

    &__social-item {

      @media (max-width: 768px) {
        width: 50%;
        margin-bottom: 37px;
      }

    }


    &__social-logo {
      font-size: 0;
      display: inline-block;
      width: 64px;
      height: 64px;
      margin-bottom: 23px;
      cursor: pointer;
      opacity: .5;
      border: 3px solid @white;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;

      @media (max-width: 768px) {
        width: 43px;
        height: 43px;
        margin-bottom: 17px;
        border-width: 1px;
        background-size: 22px 22px;
      }

      @media (min-width: 769px) {
        &:hover {
          opacity: 1;
        }
      }

      &.vk {
        background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M28.088 8.602c.188-.635 0-1.102-.907-1.102h-3c-.763 0-1.114.401-1.303.848 0 0-1.528 3.712-3.687 6.12-.697.695-1.018.918-1.4.918-.189 0-.479-.223-.479-.858V8.602c0-.762-.214-1.102-.845-1.102H11.75c-.479 0-.764.355-.764.686 0 .72 1.08.888 1.192 2.92v4.407c0 .965-.173 1.143-.555 1.143-1.019 0-3.494-3.727-4.96-7.993C6.367 7.835 6.077 7.5 5.308 7.5h-3c-.855 0-1.028.401-1.028.848 0 .792 1.018 4.728 4.74 9.928 2.48 3.55 5.974 5.474 9.152 5.474 1.91 0 2.144-.427 2.144-1.163 0-3.392-.173-3.712.784-3.712.443 0 1.207.223 2.99 1.935 2.037 2.031 2.373 2.94 3.514 2.94h3c.855 0 1.288-.427 1.038-1.27-.57-1.772-4.425-5.418-4.599-5.662-.443-.568-.315-.822 0-1.33.006-.005 3.667-5.144 4.044-6.886z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
      }
      &.inst {
        background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M15.005 9.262A5.742 5.742 0 0 0 9.26 15.02a5.742 5.742 0 0 0 5.745 5.758c3.18 0 5.745-2.57 5.745-5.758a5.742 5.742 0 0 0-5.745-5.758zm0 9.501a3.743 3.743 0 1 1 0-7.487 3.743 3.743 0 0 1 0 7.487zm7.32-9.736c0 .746-.6 1.343-1.34 1.343-.745 0-1.34-.602-1.34-1.343 0-.742.6-1.343 1.34-1.343.74 0 1.34.601 1.34 1.343zm3.805 1.363c-.085-1.8-.495-3.393-1.81-4.706-1.31-1.313-2.9-1.724-4.695-1.814-1.85-.105-7.395-.105-9.245 0-1.79.085-3.38.496-4.695 1.81-1.315 1.312-1.72 2.906-1.81 4.705-.105 1.854-.105 7.411 0 9.265.085 1.8.495 3.393 1.81 4.706C7 25.669 8.585 26.08 10.38 26.17c1.85.105 7.395.105 9.245 0 1.795-.085 3.385-.496 4.695-1.814 1.31-1.313 1.72-2.907 1.81-4.706.105-1.854.105-7.406 0-9.26zm-2.39 11.25a3.786 3.786 0 0 1-2.13 2.134c-1.475.587-4.975.452-6.605.452-1.63 0-5.135.13-6.605-.452a3.786 3.786 0 0 1-2.13-2.134c-.585-1.479-.45-4.986-.45-6.62 0-1.634-.13-5.146.45-6.62A3.786 3.786 0 0 1 8.4 6.266c1.475-.587 4.975-.451 6.605-.451 1.63 0 5.135-.13 6.605.45A3.786 3.786 0 0 1 23.74 8.4c.585 1.479.45 4.986.45 6.62 0 1.634.135 5.146-.45 6.62z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
      }
      &.fb {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><g fill="none"><rect width="30" height="30"/><path d="M21.2 2L17.9 2C14.2 2 11.8 4.5 11.8 8.3L11.8 11.3 8.5 11.3C8.2 11.3 8 11.5 8 11.8L8 16C8 16.3 8.2 16.6 8.5 16.6L11.8 16.6 11.8 27.2C11.8 27.5 12.1 27.8 12.3 27.8L16.7 27.8C17 27.8 17.2 27.5 17.2 27.2L17.2 16.6 21.1 16.6C21.3 16.6 21.6 16.3 21.6 16L21.6 11.8C21.6 11.7 21.5 11.5 21.4 11.4 21.3 11.3 21.2 11.3 21.1 11.3L17.2 11.3 17.2 8.8C17.2 7.6 17.5 7 19 7L21.2 7C21.5 7 21.7 6.8 21.7 6.5L21.7 2.5C21.7 2.2 21.5 2 21.2 2Z" fill="%23FFF"/></g></svg>');
      }
      &.tw {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><g fill="none"><rect width="30" height="30"/><g fill="%23FFF"><path d="M29 6.7C28 7.2 26.9 7.5 25.7 7.6 26.9 6.9 27.8 5.8 28.2 4.4 27.1 5.1 25.9 5.6 24.6 5.9 23.5 4.7 22 4 20.4 4 17.2 4 14.6 6.6 14.6 9.8 14.6 10.3 14.7 10.7 14.8 11.1 10 10.9 5.8 8.6 3 5.1 2.5 5.9 2.2 6.9 2.2 8 2.2 10 3.2 11.8 4.7 12.8 3.8 12.8 2.9 12.5 2.1 12.1L2.1 12.2C2.1 15 4.1 17.3 6.7 17.8 6.3 18 5.7 18.1 5.2 18.1 4.8 18.1 4.5 18 4.1 17.9 4.9 20.3 7 21.9 9.5 22 7.5 23.5 5.1 24.5 2.4 24.5 1.9 24.5 1.4 24.4 1 24.4 3.5 26 6.6 27 9.8 27 20.4 27 26.1 18.1 26.1 10.5L26.1 9.7C27.3 8.9 28.2 7.9 29 6.7Z"/></g></g></svg>');
      }
    }

    &__social-number {
      font-size: 72px;
      font-family: 'PFDinTextCompPro';
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 76px;
      text-transform: uppercase;
      color: @white;

      @media (max-width: 768px) {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 5px;
      }

      span {
        font-weight: 200;
      }
    }

    &__social-text {
      font-size: 20px;
      font-family: 'GothamPro';
      line-height: 32px;
      letter-spacing: .1px;
      color: @white;

      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }

  .order {
    margin: 0;
    background: none;

    @media (max-width: 768px) {
      padding-top: 47px;
    }
  }

  .order__title {
    text-align: center;
    margin-bottom: 45px;

    @media (max-width: 768px) {
      margin-bottom: 22px;
      text-align: left;
    }
  }

  .order__form {
    max-width: 930px;
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;

    @media (max-width: 768px) {
      padding: 0 25px;
    }
  }

  .order__success {
    max-width: 930px;
    padding: 125px 200px 132px;
    background: none;
    box-shadow: none;

    @media (max-width: 768px) {
      padding: 100px 25px;
    }
  }

  .form__label span {
    color: @white;
  }

  .form__checkbox-text {
    color: @white;
  }

  .order .form__note {
    color: @gray-light;
  }

  .form__checkbox-input {
    display: none;

    &:checked + .form__checkbox-text {
      &:before {
        background-color: @white;
        background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h16v16H0z"/><path d="M4.092 8.3A.32.32 0 0 1 4 8.09c0-.06.03-.15.092-.21l.431-.42a.303.303 0 0 1 .43 0l.032.03 1.692 1.77c.061.06.154.06.215 0l4.123-4.17h.031a.303.303 0 0 1 .43 0l.432.42c.123.12.123.3 0 .42l-4.923 4.98a.283.283 0 0 1-.216.09.283.283 0 0 1-.215-.09l-2.4-2.52-.062-.09z" fill="%23242424" fill-rule="nonzero"/></g></svg>');
      }
    }
  }

  .form__checkbox-text {

    &:before {
      border-color: @white;
      border-radius: 4px;
    }
  }

  .form__manage-result {
    color: @white;
  }

  .order .form__input.error {
    border-width: 2px;
  }
}