.page-header__all {
  position: static;
  background-color: #242424;

  @media (max-width: 768px) {
    position: absolute;
  }

  .page-header__inner {
    height: 80px;

    @media (max-width: 768px) {
      overflow: hidden;
      height: 90px;
    }
  }

  .nav-menu {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .page-header__left {

    // @media (max-width: 768px) {
    //   width: calc(~'100% - 36px');
    // }
  }

  .page-header__logo {
    display: inline-block;
    width: 86px;
    height: 60px;
    margin-right: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      width: 57px;
      height: 40px;
      margin-right: 21px;
    }
  }

  .page-header__menu {
    max-width: calc(~'100% - 910px');
    text-align: right;

    @media (max-width: 768px) {
      max-width: calc(~'100% - 108px');
    }
  }

  .page-header__phone {
    margin-top: 0;
  }

  .page-header__search {
    position: relative;
    display: inline-block;
    max-width: 406px;
    width: calc(~'100% - 275px');
    margin-right: 20px;

    @media (max-width: 768px) {
      // width: calc(~'100% - 85px');
      width: 100%;
      margin-right: 0;
    }
  }

  .page-header__search-input {
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 22px;
    width: 100%;
    height: 50px;
    margin-top: 3px;
    padding: 0 28px;
    color: @gray-light;
    border-radius: 50px;
    background-color: @white;

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 14px;
      height: 45px;
      margin-top: 0;
      padding: 0 54px 0 20px;
      text-overflow: ellipsis;
    }
  }

  .page-header__search-btn {
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0z"/><path d="M16.48 15.603l-3.804-3.978a6.49 6.49 0 0 0 1.514-4.172c0-3.578-2.894-6.489-6.452-6.489s-6.452 2.911-6.452 6.49c0 3.577 2.894 6.488 6.452 6.488a6.358 6.358 0 0 0 3.696-1.174l3.833 4.008a.835.835 0 0 0 1.19.023.85.85 0 0 0 .023-1.196zM7.738 2.657c2.63 0 4.769 2.151 4.769 4.796 0 2.645-2.14 4.796-4.77 4.796-2.629 0-4.768-2.151-4.768-4.796 0-2.645 2.14-4.796 4.769-4.796z" fill="gray" fill-rule="nonzero"/></g></svg>');
    background-repeat: no-repeat;

    @media (min-width: 769px) {
      &:hover {
        opacity: .8;
      }
    }

    &:active {
      opacity: .95;
    }

  }

  .page-header__contacts {
    display: inline-block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .page-header__menu .sharing {
    @media (max-width: 768px) {
      display: none;
    }

  }

  .sandwitch {
    @media (max-width: 768px) {
      float: right;
    }
  }
}