<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>GIGZ All</title>
  <link rel="stylesheet" href="./../css/vendor/select2.min.css">
  <link rel="stylesheet" href="./../css/style.css">
  <script type="text/javascript" src="./../js/vendor/lodash.min.js"></script>
</head>
<body class="all">
  <header class="page-header page-header__all">
    <div class="page-header__inner inner">
      <div class="page-header__left">
        <a class="page-header__logo" href="../index.html">gigz</a>
        <nav class="nav-menu">
          <ul class="nav-menu__list">
            <li class="nav-menu__item"><a href="../index.html#common" class="nav-menu__link">Главная</a></li>
            <li class="nav-menu__item"><a href="../index.html#artists" class="nav-menu__link">Артисты</a></li>
            <li class="nav-menu__item"><a href="../index.html#manual" class="nav-menu__link">Как заказать</a></li>
            <li class="nav-menu__item"><a href="../pages/portfolio.html#portfolio" class="nav-menu__link">Портфолио</a></li>
            <li class="nav-menu__item"><a href="../index.html#about" class="nav-menu__link">О проекте</a></li>
            <li class="nav-menu__item"><a href="../index.html#contacts" class="nav-menu__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="page-header__menu">
        <div class="page-header__search">
          <!-- <input type="text" class="page-header__search-input"  placeholder="Имя артиста или #"> -->
          <select type="text" class="page-header__search-input" id="search_field" placeholder="Имя артиста или #">
            <option></option>
          </select>
          <div class="page-header__search-btn"></div>
        </div>
        <div class="page-header__contacts">
          <a href="tel:88123809090" class="page-header__phone">+7 (812) 380-90-90</a>
          <div class="sharing">
            <a href="./" target="_blank" class="sharing__item vk">vk</a>
          </div>
        </div>
      </div>
      <div class="sandwitch">
        <span class="sandwitch__line"></span>
        <span class="sandwitch__line"></span>
        <span class="sandwitch__line"></span>
      </div>
      <div class="sidebar">
        <div class="sidebar__inner">
          <ul class="sidebar__list">
            <li class="sidebar__item"><a href="#common" class="sidebar__item-link">Главная</a></li>
            <li class="sidebar__item"><a href="#artists" class="sidebar__item-link">Артисты</a></li>
            <li class="sidebar__item"><a href="#manual" class="sidebar__item-link">Как заказать</a></li>
            <li class="sidebar__item"><a href="#portfolio" class="sidebar__item-link">Портфолио</a></li>
            <li class="sidebar__item"><a href="#about" class="sidebar__item-link">О проекте</a></li>
            <li class="sidebar__item"><a href="#contacts" class="sidebar__item-link">Контакты</a></li>
          </ul>
          <a href="tel:88123809090" class="sidebar__phone">+7 (812) 380-90-90</a>
          <div class="sharing">
            <a href="./" target="_blank" class="sharing__item vk">vk</a>
            <a href="./" target="_blank" class="sharing__item inst">inst</a>
            <a href="./" target="_blank" class="sharing__item yt">yt</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main main__all">
    <div class="main__back">
      <a href="../index.html" class="main__back-link">Назад</a>
    </div>
    <div class="inner"></div>
  </main>

  <footer class="page-footer page-footer__all">
    <div class="page-footer__inner inner">
      <div class="page-footer__logo">gigz</div>
      <div class="page-footer__address">Санкт-Петербург, пр.&nbsp;Стачек, д.&nbsp;105, корп.&nbsp;1</div>
      <a href="tel:88127583601" target="_blank" class="page-footer__phone">(812) 758 3601</a>
      <div class="sharing">
        <a href="./" target="_blank" class="sharing__item vk">vk</a>
        <a href="./" target="_blank" class="sharing__item inst">inst</a>
        <a href="./" target="_blank" class="sharing__item yt">yt</a>
      </div>
    </div>
  </footer>

  <script type="text/template" id="artists-template">
    <section class="artists">
      <div class="artists__inner inner">
        <h2 class="artists__title title"><span class="title__main"><%= artists.title %></span> <span class="title__details"><%= artists.details %></span></h2>
        <div class="artists__nav">
          <div class="artists__nav-links">
            <% artists.tags.forEach(function(tag) { %>
              <a class="artists__nav-link" href="./<%= tag.url %>">#<%= tag.title %></a>
            <% }); %>
          </div>
        </div>
      </div>
      <ul class="artists__list" id="top_chart">
        <% artists.artists.forEach(function(artist) { %>
          <li class="artists__item artist">
            <a class="artist__card" href="../pages/single_artist.html#<%= artist.link %>">
              <div class="artist__img">
                <img src="./../<%= artist.photo %>">
              </div>
              <div class="artist__name"><%= artist.name %></div>
              <div class="artist__hover">
                <div class="artist__hover-inner">
                  <div class="artist__hover-name"><%= artist.name %></div>
                  <div class="artist__hover-tags"><%= artist.tags %></div>
                  <a class="artist__hover-btn" href="../pages/single_artist.html#<%= artist.link %>">Заказать артиста</a>
                </div>
              </div>
            </a>
          </li>
        <% }); %>
      </ul>
    </section>
  </script>

  <script type="text/javascript" src="./../js/vendor/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="./../js/vendor/select2.min.js"></script>
  <script type="text/javascript" src="./../js/main.js"></script>
  <script type="text/javascript" src="./../js/data/artists.js"></script>
  <script type="text/javascript" src="./../js/artists.js"></script>
</body>
</html>