.about {
  padding: 154px 0;
  background-color: @white;

  @media (max-width: 768px) {
    padding: 46px 0 28px;
  }

  &__inner {
    max-width: 1147px;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      line-height: 37px;
      margin-bottom: 15px;
      padding: 0 25px;
    }
  }

  &__note {
    font-size: 20px;
    letter-spacing: .1px;
    margin-bottom: 44px;
    color: @black;

    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 16px;
      padding: 0 25px;
    }
  }

  &__info {
    columns: 2;
    margin-bottom: 142px;

    @media (max-width: 768px) {
      columns: 1;
      margin-bottom: 12px;
      padding: 0 25px;
    }
  }

  &__text {
    line-height: 32px;
    padding-right: 40px;

    @media (max-width: 768px) {
      line-height: 18px;
      margin-bottom: 15px;
      padding-right: 0;
    }
  }

  &__organizators {
    columns: 3;

    @media (max-width: 768px) {
      overflow-x: auto;
      columns: unset;
      padding: 0 25px;
      white-space: nowrap;
    }
  }

  &__organizator {
    text-align: center;
    vertical-align: top;

    @media (max-width: 768px) {
      display: inline-block;
      max-width: 205px;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__organizator-photo {
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto 55px;
    border-radius: 50%;

    @media (max-width: 768px) {
      width: 200px;
      height: 200px;
      margin-bottom: 28px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);
    }
  }

  &__organizator-name {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    letter-spacing: .1px;
    margin-bottom: 13px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 26px;
      margin-bottom: 8px;
    }
  }

  &__organizator-position {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      font-size: 13px;
      margin-bottom: 18px;
    }
  }

  &__organizator-phone {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    color: @black;

    @media (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 7px;
    }
  }

  &__organizator-mail {
    font-weight: 500;
    display: block;
    margin-bottom: 14px;
    color: @black;

    @media (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 9px;
    }
  }

  &__organizator-social {
    font-size: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M28.088 8.602c.188-.635 0-1.102-.907-1.102h-3c-.763 0-1.114.401-1.303.848 0 0-1.528 3.712-3.687 6.12-.697.695-1.018.918-1.4.918-.189 0-.479-.223-.479-.858V8.602c0-.762-.214-1.102-.845-1.102H11.75c-.479 0-.764.355-.764.686 0 .72 1.08.888 1.192 2.92v4.407c0 .965-.173 1.143-.555 1.143-1.019 0-3.494-3.727-4.96-7.993C6.367 7.835 6.077 7.5 5.308 7.5h-3c-.855 0-1.028.401-1.028.848 0 .792 1.018 4.728 4.74 9.928 2.48 3.55 5.974 5.474 9.152 5.474 1.91 0 2.144-.427 2.144-1.163 0-3.392-.173-3.712.784-3.712.443 0 1.207.223 2.99 1.935 2.037 2.031 2.373 2.94 3.514 2.94h3c.855 0 1.288-.427 1.038-1.27-.57-1.772-4.425-5.418-4.599-5.662-.443-.568-.315-.822 0-1.33.006-.005 3.667-5.144 4.044-6.886z" fill="%23242424" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 769px) {
      &:hover {
        opacity: .8;
      }
    }

    &:active {
      opacity: .95;
    }
  }
}