.actors {
  padding-top: 73px;
  padding-bottom: 120px;
  background-color: @white;

  @media (max-width: 768px) {
    padding-top: 45px;
    padding-bottom: 56px;
  }

  &__title {
    margin-bottom: 8px;

    @media (max-width: 768px) {
      margin-bottom: 0px;
    }
  }

  &__nav {
    margin-bottom: 35px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__nav-links {
    display: inline-block;
    max-width: calc(~'100% - 400px');

    @media (max-width: 768px) {
      margin-bottom: 21px;
    }
  }

  &__nav-link {
    font-size: 16px;
    font-family: 'GothamPro';
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 22px;
    padding: 0 5px;
    color: @gray-light;

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 14px;
    }

    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }

    &:hover {
      color: lighten(@gray-light, 5%);
    }
    &:active {
      color: darken(@gray-light, 5%);
    }
  }

  &__categories {
    float: right;

    @media (max-width: 768px) {
      float: none;
    }
  }

  &__category {
    font-size: 18px;
    font-family: 'GothamPro';
    font-weight: 500;
    margin: 0 23px;
    text-transform: uppercase;
    cursor: pointer;
    color: @black;
    border-bottom: 1px solid transparent;

    @media (min-width: 769px) {
      &:hover {
        color: @orange;
        border-color: #f7c8b1;
      }
    }

    @media (max-width: 768px) {
      font-size: 14px;
      margin: 0 11px;

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }

    &:active,
    &.active {
      color: @orange;
      border-color: #f7c8b1;
    }

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}