.advantages {

  @media (max-width: 768px) {
    padding-top: 46px;
    background-color: @white;
  }

  &__title {
    display: none;
    margin-bottom: 54px;
    text-align: center;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 23px;
      padding: 0 16px;
    }
  }

  &__list {
    font-size: 0;
    display: table;
    width: 100%;
    background-color: @black-light;

    @media (max-width: 768px) {
      display: block;
      // white-space: nowrap;
      // overflow-y: auto;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: table-cell;
    width: 25%;
    max-height: 864px;
    min-height: 864px;
    padding: 0 10px;
    text-align: center;
    background-image: url('../img/advantages_profit.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width: 768px) {
      display: inline-block;
      width: 100%;
      // max-width: 146px;
      min-height: 227px;
      padding: 20px;
    }

    &.profit {
      background-image: url('../img/advantages_profit.jpg');
    }
    &.experience {
      background-image: url('../img/advantages_experience.jpg');
    }
    &.fast {
      background-image: url('../img/advantages_fast.jpg');
    }
    &.booking {
      background-image: url('../img/advantages_booking.jpg');
    }

    // &:before {
    //   display: inline-block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   content: '';
    //   opacity: 0;
    //   background-image: url('../img/advantages_profit.png');
    // }

    &:before {
      display: inline-block;
      min-height: inherit;
      height: 100%;
      content: '';
      vertical-align: middle;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: '';
      transition: ease background-color .15s;
      background-color: rgba(36,36,36,.3);
    }

    &:hover {
      &:after {
        background-color: rgba(36,36,36,.9);
      }
    }
  }

  &__item-inner {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(~'100% - 5px');
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;

    @media (max-width: 768px) {
      width: auto;
      white-space: initial;
    }
  }

  &__item-title {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 46px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: @white;

    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 37px;
      margin-bottom: 17px;
    }
  }

  &__item-note {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 45px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 13px;
    }
  }

  &__item-text {
    font-size: 16px;
    line-height: 28px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}