.artists-cont {
  margin-bottom: 26px;

  @media (max-width: 768px) {
    margin-bottom: 28px;
  }
}

.artists {
  padding-bottom: 60px;

  @media (max-width: 768px) {
    position: relative;
    padding-bottom: 39px;

    &:first-of-type {
      .title__details {
        display: block;
      }
    }
  }

  &__inner {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 9px;

    @media (max-width: 768px) {
      margin-bottom: 6px;
      padding: 0 110px 0 25px;
    }

    .title__details {
      @media (max-width: 768px) {
        letter-spacing: -1.7px;
        margin-top: -1px;
      }
    }
  }

  &__nav {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      overflow-y: auto;
      margin-bottom: 52px;
    }
  }

  &__nav-links {
    overflow: hidden;
    display: inline-block;
    max-width: calc(~'100% - 330px');
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      max-width: none;
      padding: 0 25px;
    }
  }

  &__nav-link {
    font-size: 16px;
    font-family: 'GothamPro';
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 22px;
    padding: 0 5px;
    color: @gray-light;

    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 26px;
      height: 26px;
      margin: 0 2px;
      padding-left: 5px;
      border-radius: 4px;
      background-color: #464646;

      &:first-of-type {
        margin-left: 0;
        padding: 0 5px;
      }
      &:last-of-type {
        margin-right: 0;
        padding: 0 5px;
      }
    }

    &:hover {
      color: lighten(@gray-light, 15%);
    }
    &:active {
      color: darken(@gray-light, 15%);
    }
  }

  &__all {
    font-size: 18px;
    font-family: 'GothamPro';
    font-weight: 500;
    float: right;
    margin-top: -1px;
    text-decoration: underline;
    cursor: pointer;
    color: @orange;

    @media (min-width: 769px) {
      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      font-size: 11px;
      position: absolute;
      top: 9px;
      right: 25px;
    }
  }
}