.artist {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 210px;
  height: 280px;
  margin: 0 13px;
  cursor: pointer;
  transition: ease box-shadow .15s;
  border-radius: 4px;
  box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.2);

  @media (max-width: 768px) {
    width: 160px;
    height: 215px;
    margin: 0 10px;
  }

  &:hover {
    box-shadow: 0px 10px 10px 0px rgba(20, 20, 20, 0.2);
  }

  &:focus > *,
  &:active > * {
    outline: none;
  }

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    .artist__name {
      opacity: 0;
    }
    .artist__hover {
      visibility: visible;
      opacity: 1;
    }
  }

  &__card {
    display: inline-block;
    width: 100%;
    height: 100%;

    &:focus {
      outline: none;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%,-50%)
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: '';
      opacity: .5;
      background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
    }
  }

  &__name {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    letter-spacing: .1px;
    line-height: 38px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    overflow: hidden;
    width: 100%;
    max-width: 226px;
    padding: 0 20px;
    transition: ease opacity .15s;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
    text-overflow: ellipsis;
    color: @white;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 20px;
      bottom: 23px;
      max-width: 106px;
      padding: 0;
    }
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: ease opacity .15s, ease visibility .15s;
    opacity: 0;
    background-color: rgba(237,112,11,.8);
  }

  &__hover-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 20px;

    @media (max-width: 768px) {
      padding: 22px 15px;
    }
  }

  &__hover-name {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    letter-spacing: .1px;
    line-height: 38px;
    padding: 0 20px;
    text-transform: uppercase;
    text-align: center;
    color: @white;

    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 30px;
      margin-bottom: -7px;
      padding: 0;
    }
  }

  &__hover-tags {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 38px;
    text-align: center;
    color: @white;

    @media (max-width: 768px) {
      font-size: 11px;
      margin-bottom: 23px;
    }
  }

  &__hover-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
    width: 100%;
    height: 36px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: @white;
    border-radius: 18px;
    background-color: @black;

    @media (max-width: 768px) {
      font-size: 9px;
      line-height: 36px;
      height: 33px;
    }

    &:hover {
      background-color: lighten(@black, 5%);
    }

    &:focus {
      outline: none;
    }

    &:active {
      background-color: darken(@black, 5%);
    }
  }
}

.grayscale {
  filter: grayscale(100%);
}