.charts {

  &__types {
    // position: absolute;
    // top: 50%;
    // left: 0;
    width: 100%;
    padding: 122px 132px 78px 710px;
    // transform: translateY(-50%);
    border-radius: 4px;
    background-color: #EBEBEB;

    @media (max-width: 1220px) {
      padding: 122px 32px 78px 610px;
    }

    @media (max-width: 1220px) {
      padding-left: 510px;
    }

    @media (max-width: 768px) {
      position: static;
      padding: 47px 0 32px;
      transform: none;
      border-radius: 0;
    }
  }

  &__types-list {
    @media (max-width: 768px) {
      overflow-y: auto;
      white-space: nowrap;
      padding: 0 25px;
    }
  }

  &__types-list-group {
    display: inline-block;
  }

  &__types-item {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    float: left;
    clear: both;
    min-height: 58px;
    margin-bottom: 4px;
    padding: 2px 44px 0 88px;
    cursor: pointer;
    border-radius: 30px;

    @media (max-width: 768px) {
      font-size: 12px;
      float: none;
      display: inline-block;
      min-height: 36px;
      margin-right: 16px;
      padding: 2px 60px;
    }

    &:hover {
      background-color: rgba(255,255,255,.5);
    }

    &.active {
      color: @orange;
      background-color: @white;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 15px;
      display: inline-block;
      width: 68px;
      height: 52px;
      content: '';
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 768px) {
        left: 9px;
        width: 36px;
        height: 33px;
      }
    }

    &.rus {
      &:before {
        background-image: url('../img/logos/rus.png');
      }
    }
    &.road {
      &:before {
        background-image: url('../img/logos/road.png');
      }
    }
    &.retro {
      &:before {
        background-image: url('../img/logos/retro.png');
      }
    }
    &.muz-tv {
      &:before {
        background-image: url('../img/logos/muz-tv.png');
      }
    }
    &.ru-tv {
      &:before {
        background-image: url('../img/logos/ru-tv.png');
      }
    }
    &.vk {
      &:before {
        background-image: url('../img/logos/vk.png');
      }
    }
    &.shazam {
      &:before {
        background-image: url('../img/logos/shazam.png');
      }
    }
    &.rr {
      &:before {
        background-image: url('../img/logos/rr.png');
      }
    }
    &.itunes {
      &:before {
        background-image: url('../img/logos/itunes.png');
      }
    }

    &:after {
      display: inline-block;
      min-height: inherit;
      height: 100%;
      content: '';
      vertical-align: middle;
    }
  }
}