.charts {

  &__hit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 160px;
    // position: relative;
    z-index: 1;
    overflow: hidden;
    max-width: 440px;
    min-width: 440px;
    min-height: 606px;
    max-height: 606px;
    padding: 43px 10px 0 50px;
    border-radius: 6px;
    background-image: url('../img/charts_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 15px 30px 15px rgba(20, 20, 20, 0.2);

    @media (max-width: 1220px) {
      left: 60px;
    }

    @media (max-width: 768px) {
      position: static;
      max-width: unset;
      min-width: unset;
      min-height: unset;
      max-height: 485px;
      padding: 25px;
      transform: none;
      border-radius: 0;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 60px;
      content: '';
      background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
  }

  &__hit-list-cont {
    overflow-y: auto;
    max-height: 430px;
    padding-right: 34px;

    &::-webkit-scrollbar-track {background: rgba(225,225,225,.2); border-radius: 10px;}
    &::-webkit-scrollbar {width: 6px;}
    &::-webkit-scrollbar-thumb {background: rgba(161,161,161,.8); border-radius: 10px;}
    &:hover::-webkit-scrollbar-thumb {background: rgba(161,161,161,.8); border-radius: 10px;}

    @media (min-width: 768px) {
      // padding: 20px 23px 20px 0px;

      &::-webkit-scrollbar {width: 6px;}
    }

    @media (max-width: 768px) {
      max-height: 372px;
    }
  }

  &-hit-header {
    padding-right: 50px;
  }

  &__hit-title {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 46px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: @white;

    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 34px;
      margin-bottom: 1px;
    }
  }
  &__hit-info {
    font-size: 24px;
    font-family: 'PFDinTextCompPro';
    font-weight: 300;
    letter-spacing: .1px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__hit-item {
    display: block;
    margin-bottom: 21px;

    @media (max-width: 768px) {
      margin-bottom: 18px;
    }
  }

  &__hit-item-number {
    font-size: 28px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    letter-spacing: .1px;
    display: inline-block;
    width: 47px;
    vertical-align: top;
    text-transform: uppercase;
    color: @orange;

    @media (max-width: 768px) {
      font-size: 20px;
      width: auto;
      min-width: 33px;
    }
  }

  &__hit-item-info {
    display: inline-block;
    vertical-align: top;
  }

  &__hit-item-artist {
    font-size: 28px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    letter-spacing: .1px;
    margin-bottom: -1px;
    text-transform: uppercase;
    color: @white;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__hit-item-song {
    font-size: 18px;
    font-family: 'PFDinTextCompPro';
    font-weight: 400;
    letter-spacing: .1px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}