.charts {
  min-height: 746px;
  padding-bottom: 166px;
  background-color: @white;

  @media (max-width: 768px) {
    min-height: unset;
    padding-bottom: 58px;
  }

  &__inner {
    position: relative;
    max-width: 1590px;
    // padding-left: 130px;
    padding-top: 74px;
    padding-bottom: 74px;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 28px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
      padding: 0 25px;
    }
  }
}