.logos {
  min-height: 240px;
  padding: 47px 0;
  text-align: left;

  @media (max-width: 768px) {
    min-height: 80px;
    padding: 0;
  }

  &__list {
    white-space: nowrap;
  }

  &__item {
    width: 150px;
    height: 130px;
    margin: 0 23px;
    opacity: .25;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 768px) {
      width: 96px;
      height: 80px;
      margin: 0 20px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &.aa {
      background-image: url('../img/logos/artik-asti.png');
    }
    &.basta {
      background-image: url('../img/logos/basta.png');
    }
    &.loboda {
      background-image: url('../img/logos/loboda.png');
    }
    &.bi2 {
      background-image: url('../img/logos/bi2.png');
    }
  }
}