.manual {
  padding-bottom: 166px;
  background-color: @white;

  @media (max-width: 768px) {
    padding-top: 79px;
    padding-bottom: 97px;
  }

  &__title {
    margin-bottom: 100px;
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 21px;
    }
  }

  &__types-cont {
    margin-bottom: 114px;
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 31px;
    }
  }

  &__types {
    position: relative;
    display: inline-block;
    padding: 2px;
    border-radius: 30px;
    background-color: @orange;

    @media (max-width: 768px) {
      padding: 1px;
    }

    &:before {
      display: inline-block;
      position: absolute;
      left: 2px;
      width: 184px;
      height: 46px;
      transition: ease transform .3s;
      content: '';
      border-radius: 30px;
      background-color: @white;

      @media (max-width: 768px) {
        width: 114px;
        height: 28px;
        left: 1px;
      }
    }

    &.light {

      .manual__type {
        color: @orange;

        &:last-of-type {
          color: @white;
        }
      }
    }

    &.for-key {
      &:before {
        transform: translate(100%);
      }
      .manual__type {
        color: @white;

        &:last-of-type {
          color: @orange;
        }
      }
    }
  }

  &__type {
    font-size: 20px;
    font-weight: 500;
    line-height: 46px;
    position: relative;
    display: inline-block;
    width: 186px;
    height: 46px;
    text-transform: uppercase;
    transition: ease color .3s;
    cursor: pointer;
    color: @white;
    border-radius: 30px;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 29px;
      width: 113px;
      height: 28px;
    }
  }

  &__steps {
    position: relative;
    max-width: 1260px;
    margin: auto;

    &.hidden {
      display: none;
    }

    &:before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      content: '';
      transform: translateX(-50%);
      background-color: @orange;
    }
  }

  &__step {
    clear: both;
    width: 50%;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      margin-bottom: 21px;
    }

    &:before {
      position: absolute;
      top: 8px;
      display: inline-block;
      content: '';
      border-radius: 50%;
      background-color: @orange;

      @media (max-width: 768px) {
        top: 4px;
      }
    }

    &:nth-of-type(odd),
    &:nth-of-type(even) {
      &:before {
        width: 26px;
        height: 26px;
        border: 3px solid @white;

        @media (max-width: 768px) {
          width: 14px;
          height: 14px;
          border-width: 1px;
        }
      }
    }

    &:nth-of-type(odd) {
      position: relative;
      float: right;
      padding-left: 50px;

      @media (max-width: 768px) {
        padding-left: 20px;
      }

      &:before {
        left: -13px;

        @media (max-width: 768px) {
          left: -7px;
        }
      }
    }

    &:nth-of-type(even) {
      position: relative;
      float: left;
      padding-right: 50px;
      text-align: right;

      @media (max-width: 768px) {
        padding-right: 24px;
      }

      &:before {
        right: -13px;

        @media (max-width: 768px) {
          right: -7px;
        }
      }
    }

    &:first-of-type {
      &:before {
        top: 0;
        left: -20px;
        width: 40px;
        height: 40px;
        border: 10px solid #f6b785;

        @media (max-width: 768px) {
          left: -12px;
          width: 24px;
          height: 24px;
          border-width: 5px;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;

      &:before {
        z-index: 1;
        top: 0;
        width: 40px;
        height: 40px;
        border: 10px solid #f6b785;

        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
          border-width: 5px;
        }
      }

      &:after {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 10px;
        height: 100%;
        content: '';
        background-color: @white;
      }
    }

    &:last-of-type:nth-of-type(odd) {
      &:before {
        left: -20px;

        @media (max-width: 768px) {
          left: -11px;
        }
      }

      &:after {
        left: -4px;
      }
    }

    &:last-of-type:nth-of-type(even) {
      &:before {
        right: -20px;

        @media (max-width: 768px) {
          right: -11px;
        }
      }
      &:after {
        right: -4px;
      }
    }
  }

  &__step-title {
    font-size: 36px;
    font-family: 'PFDinTextCompPro';
    font-weight: 500;
    line-height: 46px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 22px;
      padding-top: 3px;
    }
  }

  &__step-texts {
    margin-top: 17px;

    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &__step-text {
    line-height: 28px;
    margin-bottom: 11px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      line-height: 15px;
      margin-bottom: 9px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}