.nav-menu {
  display: inline-block;
  vertical-align: middle;

  &__link {
    font-size: 16px;
    letter-spacing: .1px;
    margin-right: 44px;
    opacity: .5;
    cursor: pointer;
    color: @white;

    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
  }
}