.order {
  margin: -37px 0 -46px;
  background-color: @white;

  @media (max-width: 768px) {
    margin: 0;
  }

  &__inner {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__success {
    position: relative;
    display: none;
    max-width: 900px;
    margin:  auto;
    padding: 200px 200px 208px;
    border-radius: 4px;
    background-color: #e1e1e1;
    box-shadow: 0px 25px 15px 5px rgba(20,20,20,.2);

    @media (max-width: 768px) {
      padding: 100px 25px;
    }

    .title {
      position: relative;
      padding-top: 180px;
      text-align: center;

      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        display: inline-block;
        width: 126px;
        height: 134px;
        content: '';
        transform: translateX(-50%);
        background-image: url('../img/icons/order_success.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__form {
    z-index: 2;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 66px 70px 85px 100px;
    border-radius: 4px;
    background-color: #e1e1e1;
    box-shadow: 0px 25px 15px 5px rgba(20,20,20,.2);

    @media (max-width: 768px) {
      padding: 29px 25px 54px;
      border-radius: 0;
    }
  }

  .form {

    &__field {
      display: inline-block;
      width: calc(~'50% - 15px');
      margin-bottom: 26px;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 28px;
      }

      &:nth-of-type(2) {
        float: right;
      }

      &.full {
        width: 100%;
      }
    }

    &__label {

      span {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 17px;

        @media (max-width: 768px) {
          font-size: 23px;
          margin-bottom: 8px;
        }
      }
    }

    &__input {
      .placeholder(@gray);
      font-size: 14px;
      width: 100%;
      height: 50px;
      padding: 0 30px;
      color: @black;
      border-radius: 4px;
      background-color: @white;

      @media (max-width: 768px) {
        font-size: 16px;
        height: 56px;
        padding: 0 15px;
        border-radius: 2px;
      }

      &.error {
        border: 1px solid @orange;
      }
    }

    &__textarea {
      .placeholder(@gray);
      font-size: 14px;
      width: 100%;
      max-width: 100%;
      min-height: 155px;
      padding: 25px 30px;
      color: @black;
      border-radius: 4px;
      background-color: @white;

      @media (max-width: 768px) {
        font-size: 16px;
        padding: 17px 15px 111px;
        border-radius: 2px;
      }
    }

    &__manage {
      position: relative;
      margin-top: 10px;

      @media (max-width: 768px) {
        margin-top: 0;
        padding-top: 36px;
      }
    }

    &__checkbox {
      display: inline-block;
      margin-right: 25px;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 26px;
      }
    }

    &__checkbox-label {}

    &__checkbox-input {
      display: none;

      &:checked + .form__checkbox-text {
        &:before {
          background-color: @black;
          background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h16v16H0z"/><path d="M4.092 8.3A.32.32 0 0 1 4 8.09c0-.06.03-.15.092-.21l.431-.42a.303.303 0 0 1 .43 0l.032.03 1.692 1.77c.061.06.154.06.215 0l4.123-4.17h.031a.303.303 0 0 1 .43 0l.432.42c.123.12.123.3 0 .42l-4.923 4.98a.283.283 0 0 1-.216.09.283.283 0 0 1-.215-.09l-2.4-2.52-.062-.09z" fill="%23FFF" fill-rule="nonzero"/></g></svg>');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }

    &__checkbox-text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -.1px;
      position: relative;
      display: inline-block;
      height: 16px;
      padding-left: 26px;
      cursor: pointer;

      @media (max-width: 768px) {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: -1px;
        height: 20px;
        padding-left: 23px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        content: '';
        border: 1px solid @black;
        border-radius: 4px;

        @media (max-width: 768px) {
          width: 14px;
          height: 15px;
          border-radius: 2px;
        }
      }
    }

    &__note {
      font-size: 12px;
      letter-spacing: -.1px;
      line-height: 50px;
      display: inline-block;
      color: @gray;

      @media (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        line-height: 8px;
      }
    }

    &__submit {
      font-size: 14px;
      font-weight: 500;
      float: right;
      width: 215px;
      height: 50px;
      text-transform: uppercase;
      color: @white;
      cursor: pointer;
      border-radius: 4px;
      background-color: @orange;

      @media (max-width: 768px) {
        font-size: 20px;
        width: 100%;
        height: 71px;
      }

      &:hover {
        background-color: lighten(@orange, 5%);
      }
      &:active {
        background-color: darken(@orange, 5%);
      }

      &:disabled {
        opacity: .75;
        pointer-events: none;
      }
    }

    &__manage-result {
      position: absolute;
      top: calc(~'100% + 16px');
      right: 0;
      display: none;

      @media (max-width: 768px) {
        font-size: 12px;
        top: calc(~'100% + 10px');
        right: initial;
        left: 0;
      }
    }
  }
}