.page-header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &.fixed {
    z-index: 3;
    position: fixed;
    animation: slide .15s ease-in-out;
    background-color: rgba(0,0,0,.85);

    .page-header__inner {
      height: auto;
      padding: 20px 30px;

      @media (max-width: 768px) {
        padding: 20px 25px;
      }
    }
  }

  &.fixed-mobile {
    z-index: 3;
    position: fixed;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1650px;
    height: 124px;
    padding: 0 30px;

    @media (max-width: 768px) {
      height: 83px;
      padding: 0 25px;
    }
  }

  &__logo {
    font-size: 0;
    z-index: 2;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 56px;
    margin-right: 34px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="112" height="78" viewBox="0 0 112 78"><g fill="none"><g fill="%23FFF"><path d="M35.5 8.8C35.6 9.4 36.1 9.8 36.7 9.8L37.3 9.8C39.4 9.8 41.5 9.8 43.5 9.8 44.5 9.8 45 9.4 45 8.3 45 6 45 3.7 44.9 1.4 44.9 1.4 44.9 1.3 44.9 1.3 44.9 0.8 44.6 0.4 44.1 0.2 44.1 0.2 44 0.1 43.9 0.1 43.9 0.1 43.9 0.1 43.9 0.1 43.8 0.1 43.8 0.1 43.7 0.1L42.8 0.1C40.9 0.1 38.8 0.1 36.8 0.1 36.6 0.1 36.4 0.1 36.2 0.2 36 0.3 35.9 0.4 35.8 0.5 35.5 0.8 35.4 1.1 35.4 1.5 35.4 4 35.3 6.3 35.4 8.7 35.4 8.7 35.4 8.8 35.5 8.8"/><path d="M17.6 33.9C17.6 35.7 17.6 37.4 17.6 39.2 17.6 41.9 17.6 44.7 17.6 47.4 17.6 48.5 17.3 48.9 16.2 48.9 10.6 48.9 9.4 49.3 9.6 42.7 9.8 39.3 9.6 35.9 9.7 32.5 9.7 30.1 10.4 29.3 12.8 29.3 18.7 29.3 17.5 28.6 17.6 33.9M21.2 19.6C19.9 19.8 18.7 20.7 17.7 21.1 16.6 20.7 15.3 19.8 14 19.6 11.9 19.4 9.7 19.6 7.6 19.9 3.3 20.4 0.3 23.5 0.2 27.9 0.1 35.3 0.1 42.8 0.2 50.3 0.3 53.5 1.8 56.2 4.8 57.4 9 59.2 13.3 59.5 17.6 57.4 17.6 60.4 17.6 63.5 17.6 66.5 17.6 67.9 17 68.5 15.7 68.5 15.2 68.5 14.7 68.5 14.2 68.5 9.7 68.5 9.6 68.5 9.7 73.1 9.7 74 9.8 74.9 9.9 75.8 10 76.9 11 77.8 12.1 77.8L18.8 77.8C18.9 77.8 19 77.8 19.1 77.8 20.1 77.8 21.1 77.6 22 77.2 25.5 75.8 27.2 73.1 27.2 68.8 27.2 54.3 27.2 39.7 27.2 25.1 27.2 19.1 27.2 19 21.2 19.6"/><path d="M111.8 28.3L111.8 21.3C111.8 20.3 111.1 19.6 110.1 19.6L110.1 19.6C103.2 19.5 96.2 19.6 89.2 19.5 88 19.5 87.5 20 87.7 21.6 87.9 23.5 87.9 25.5 87.7 27.5 87.5 29 88 29.3 89.2 29.3 92.4 29.3 95.6 29.3 98.8 29.3 99.3 29.3 99.7 29.4 100.3 29.5 96.3 35.7 92.4 41.7 88.5 47.7 88.1 48.4 87.7 49.3 87.7 50.1 87.6 52.4 87.7 54.8 87.6 57.1 87.6 58.3 88.1 58.7 89.3 58.7 96.2 58.6 103.1 58.7 110 58.6L110.4 58.6C111.2 58.6 111.8 58 111.8 57.3L111.8 50.5C111.8 49.6 111.1 48.9 110.3 48.9 110 48.9 110.1 48.9 109.7 48.9 106.2 48.8 102.7 48.9 98.9 48.9 103.2 42.2 107.3 35.8 111.4 29.4 111.7 29.1 111.8 28.7 111.8 28.3"/><path d="M45 39.1C45 33.2 44.9 27.3 45 21.5 45 20.1 44.6 19.5 43.2 19.5L43.2 19.5C41.1 19.6 39 19.6 36.9 19.5L36.9 19.5C35.8 19.5 35.3 19.9 35.3 21.1 35.4 33.1 35.4 45.1 35.3 57.2 35.3 58.4 35.8 58.7 36.9 58.7 37.9 58.7 38.9 58.6 40 58.6 41 58.6 42 58.6 43 58.7 43.1 58.7 43.1 58.7 43.2 58.7 43.2 58.7 43.3 58.7 43.3 58.7 44.4 58.7 44.8 58.3 45 57.4 45 57.2 45 56.9 45 56.6 44.9 50.8 45 45 45 39.1"/><path d="M69.8 33.9C69.8 35.7 69.8 37.4 69.8 39.2 69.8 41.9 69.7 44.7 69.8 47.4 69.8 48.5 69.5 48.9 68.4 48.9 62.8 48.9 61.6 49.3 61.8 42.7 61.9 39.3 61.8 35.9 61.9 32.5 61.9 30.1 62.6 29.3 65 29.3 70.9 29.3 69.6 28.6 69.8 33.9M73.3 19.6C72.1 19.8 70.9 20.7 69.9 21.1 68.7 20.7 67.5 19.8 66.2 19.6 64.1 19.4 61.9 19.6 59.7 19.9 55.5 20.4 52.4 23.5 52.4 27.9 52.2 35.3 52.2 42.8 52.4 50.3 52.4 53.5 54 56.2 56.9 57.4 61.1 59.2 65.5 59.5 69.8 57.4 69.8 60.4 69.8 63.5 69.8 66.5 69.8 67.9 69.1 68.5 67.9 68.5 67.4 68.5 66.9 68.5 66.4 68.5 61.8 68.5 61.8 68.5 61.9 73.1 61.9 74 62 74.9 62.1 75.8 62.2 76.9 63.1 77.8 64.3 77.8L70.9 77.8C71 77.8 71.1 77.8 71.2 77.8 72.3 77.8 73.3 77.6 74.2 77.2 77.7 75.8 79.4 73.1 79.4 68.8 79.4 54.3 79.4 39.7 79.4 25.1 79.4 19.1 79.4 19 73.3 19.6"/></g></g></svg>');
    background-size: cover;

    @media (max-width: 768px) {
      width: 60px;
      height: 42px;
      margin-right: 12px;
      background-image: url('data:image/svg+xml;utf8,<svg width="50" height="35" viewBox="0 0 50 35" xmlns="http://www.w3.org/2000/svg"><g fill="%23FFF" fill-rule="nonzero"><path d="M15.839 3.967c.068.236.28.408.532.408h.298c.917.032 1.837.007 2.756.02.449.005.657-.183.653-.648-.01-1.04.021-2.08-.024-3.118 0-.015-.005-.034-.009-.051a.567.567 0 0 0-.343-.486.191.191 0 0 0-.082-.03h-.012a.541.541 0 0 0-.117-.013h-.362c-.892-.022-1.79-.017-2.718-.014a.61.61 0 0 0-.257.059.646.646 0 0 0-.368.58c-.003 1.132-.013 2.172.028 3.21.001.026.01.054.025.083M7.858 15.216c.019.787.003 1.574.003 2.361 0 1.237-.012 2.474.005 3.71.007.457-.137.656-.614.657-2.504.002-3.04.195-2.945-2.805.047-1.516-.007-3.036.02-4.553.02-1.098.326-1.423 1.395-1.421 2.637.005 2.078-.342 2.136 2.051m1.596-6.41c-.57.06-1.103.476-1.55.68-.508-.22-1.062-.62-1.648-.676-.95-.09-1.929-.017-2.882.1C1.472 9.14.122 10.566.086 12.505A272.86 272.86 0 0 0 .09 22.558c.027 1.44.723 2.655 2.041 3.219 1.872.8 3.81.917 5.73-.017 0 1.342-.009 2.72.004 4.1.006.613-.287.87-.86.863-.22-.003-.44 0-.661 0-2.023 0-2.042 0-2.013 2.088.006.4.042.8.086 1.199a1 1 0 0 0 .988.899h2.974l.137-.004a3.674 3.674 0 0 0 1.322-.258c1.566-.635 2.304-1.844 2.309-3.769.018-6.534.009-13.068.01-19.602 0-2.725-.003-2.76-2.702-2.47M49.903 12.683V9.537a.742.742 0 0 0-.73-.75h-.006c-3.117-.02-6.234-.008-9.352-.018-.544-.002-.761.204-.674.917.107.873.086 1.757-.007 2.632-.072.685.151.85.68.843 1.433-.02 2.868-.01 4.302-.004.199.001.397.043.68.076-1.805 2.786-3.557 5.474-5.284 8.178-.198.31-.347.71-.364 1.076-.049 1.04.004 2.085-.026 3.126-.016.565.21.723.735.72 3.09-.017 6.18 0 9.269-.023l.18-.001a.608.608 0 0 0 .597-.614V22.64a.68.68 0 0 0-.679-.687c-.114.001-.092.002-.271-.002-1.558-.033-3.117-.015-4.818-.015l5.613-8.726a.975.975 0 0 0 .155-.528M20.077 17.562c0-2.645-.011-5.29.008-7.935.004-.602-.18-.882-.804-.861h-.001c-.936.031-1.873.02-2.809.003h-.001c-.481-.009-.692.161-.691.685.012 5.402.012 10.805 0 16.208 0 .529.216.682.697.67.454-.013.91-.025 1.365-.027.455-.003.91.005 1.362.033l.085.003.042.002c.486.002.684-.186.74-.588.015-.1.02-.215.019-.342-.029-2.617-.012-5.234-.012-7.85M31.147 15.216c.02.787.003 1.574.003 2.361 0 1.237-.012 2.474.005 3.71.007.457-.136.656-.614.657-2.503.002-3.04.195-2.945-2.805.047-1.516-.007-3.036.02-4.553.02-1.098.326-1.423 1.395-1.421 2.637.005 2.078-.342 2.136 2.051m1.596-6.41c-.57.06-1.103.476-1.55.68-.508-.22-1.062-.62-1.648-.676-.95-.09-1.929-.017-2.882.1-1.902.231-3.252 1.657-3.288 3.596-.061 3.35-.059 6.703.003 10.052.027 1.44.723 2.655 2.041 3.219 1.872.8 3.81.917 5.73-.017 0 1.342-.009 2.72.004 4.1.006.613-.287.87-.86.863-.22-.003-.44 0-.661 0-2.022 0-2.042 0-2.012 2.088.005.4.042.8.085 1.199a1 1 0 0 0 .988.899h2.974l.138-.004a3.673 3.673 0 0 0 1.321-.258c1.567-.635 2.304-1.844 2.31-3.769.017-6.534.008-13.068.01-19.602 0-2.725-.004-2.76-2.703-2.47"/></g></svg>');
    }
  }

  &__right-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__menu {

    .nav-menu {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__phone {
    font-size: 20px;
    line-height: 24px;
    margin-top: -4px;
    margin-right: 13px;
    vertical-align: middle;
    color: @white;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-top: 5px;
    }

    @media (min-width: 769px) {
      &:hover {
        opacity: .7;
      }
    }
  }

  .sharing {
    margin-top: -3px;
    vertical-align: middle;

    @media (max-width: 768px) {
      // display: none;
    }
  }

  &__right-mobile .sharing {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .sharing__item {
    font-size: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    vertical-align: top;
    cursor: pointer;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 769px) {
      &:hover {
        opacity: .7;
      }
    }

    &.vk {
      background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M22.47 6.882c.151-.508 0-.882-.725-.882h-2.4c-.61 0-.892.32-1.042.678 0 0-1.223 2.97-2.95 4.896-.558.556-.815.735-1.12.735-.151 0-.383-.179-.383-.686V6.881c0-.61-.171-.882-.677-.882H9.401c-.383 0-.611.284-.611.548 0 .577.863.711.953 2.336v3.527c0 .771-.139.914-.444.914-.815 0-2.795-2.982-3.968-6.395C5.094 6.268 4.862 6 4.247 6h-2.4c-.684 0-.823.32-.823.678 0 .634.815 3.783 3.793 7.943C6.801 17.46 9.597 19 12.14 19c1.527 0 1.715-.341 1.715-.93 0-2.714-.139-2.97.627-2.97.355 0 .966.179 2.392 1.548C18.503 18.273 18.77 19 19.683 19h2.4c.685 0 1.031-.341.831-1.016-.456-1.417-3.54-4.334-3.678-4.53-.355-.454-.253-.657 0-1.064.004-.004 2.933-4.115 3.234-5.508z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h24v24H0z"/></g></svg>');
    }
    &.inst {
      background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M12.004 7.41a4.594 4.594 0 0 0-4.596 4.606 4.594 4.594 0 0 0 4.596 4.606 4.594 4.594 0 0 0 4.596-4.606 4.594 4.594 0 0 0-4.596-4.606zm0 7.6a2.994 2.994 0 1 1 0-5.99 2.994 2.994 0 0 1 0 5.99zm5.856-7.789a1.07 1.07 0 0 1-1.072 1.075 1.07 1.07 0 0 1-1.072-1.075c0-.593.48-1.074 1.072-1.074.592 0 1.072.481 1.072 1.074zm3.044 1.09c-.068-1.438-.396-2.713-1.448-3.764-1.048-1.05-2.32-1.379-3.756-1.45-1.48-.085-5.916-.085-7.396 0-1.432.067-2.704.396-3.756 1.446C3.496 5.593 3.172 6.87 3.1 8.308c-.084 1.483-.084 5.929 0 7.412.068 1.44.396 2.714 1.448 3.765 1.052 1.05 2.32 1.379 3.756 1.45 1.48.085 5.916.085 7.396 0 1.436-.067 2.708-.396 3.756-1.45 1.048-1.05 1.376-2.326 1.448-3.765.084-1.483.084-5.925 0-7.408zm-1.912 9a3.028 3.028 0 0 1-1.704 1.709c-1.18.469-3.98.36-5.284.36-1.304 0-4.108.105-5.284-.36a3.028 3.028 0 0 1-1.704-1.708c-.468-1.183-.36-3.99-.36-5.296 0-1.307-.104-4.117.36-5.296A3.028 3.028 0 0 1 6.72 5.012c1.18-.469 3.98-.36 5.284-.36 1.304 0 4.108-.105 5.284.36a3.028 3.028 0 0 1 1.704 1.708c.468 1.183.36 3.99.36 5.296 0 1.307.108 4.117-.36 5.296z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h24v24H0z"/></g></svg>');
    }
    &.yt {
      background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M21.55 7.19a2.503 2.503 0 0 0-1.763-1.771C18.233 5 12 5 12 5s-6.233 0-7.787.419c-.858.23-1.533.91-1.762 1.772-.417 1.562-.417 4.823-.417 4.823s0 3.26.417 4.824c.229.862.904 1.513 1.762 1.743C5.767 19 12 19 12 19s6.233 0 7.787-.419a2.466 2.466 0 0 0 1.762-1.743c.417-1.563.417-4.824.417-4.824s0-3.26-.417-4.823zM9.96 14.976V9.054l5.21 2.96-5.21 2.96z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h24v24H0z"/></g></svg>');
    }
  }

  .sidebar {
    .sharing__item {
      margin: 0 15px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateY(-50px) translateZ(0) translateX(0) rotate(.02deg);
    opacity: 0
  }
  75% {
    transform: translateY(0) translateZ(0) translateX(0) rotate(.02deg)
  }
  to {
    opacity: 1
  }
}
