.page-footer {
  padding: 135px 0 155px;
  text-align: center;
  background-image: url('../img/footer_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (max-width: 768px) {
    padding: 152px 33px 130px;
    background-image: url('../img/footer_bg-mobile.jpg');
  }

  &__logo {
    font-size: 0;
    width: 112px;
    height: 78px;
    margin: 0 auto 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="112" height="78" viewBox="0 0 112 78"><g fill="none"><g fill="%23FFF"><path d="M35.5 8.8C35.6 9.4 36.1 9.8 36.7 9.8L37.3 9.8C39.4 9.8 41.5 9.8 43.5 9.8 44.5 9.8 45 9.4 45 8.3 45 6 45 3.7 44.9 1.4 44.9 1.4 44.9 1.3 44.9 1.3 44.9 0.8 44.6 0.4 44.1 0.2 44.1 0.2 44 0.1 43.9 0.1 43.9 0.1 43.9 0.1 43.9 0.1 43.8 0.1 43.8 0.1 43.7 0.1L42.8 0.1C40.9 0.1 38.8 0.1 36.8 0.1 36.6 0.1 36.4 0.1 36.2 0.2 36 0.3 35.9 0.4 35.8 0.5 35.5 0.8 35.4 1.1 35.4 1.5 35.4 4 35.3 6.3 35.4 8.7 35.4 8.7 35.4 8.8 35.5 8.8"/><path d="M17.6 33.9C17.6 35.7 17.6 37.4 17.6 39.2 17.6 41.9 17.6 44.7 17.6 47.4 17.6 48.5 17.3 48.9 16.2 48.9 10.6 48.9 9.4 49.3 9.6 42.7 9.8 39.3 9.6 35.9 9.7 32.5 9.7 30.1 10.4 29.3 12.8 29.3 18.7 29.3 17.5 28.6 17.6 33.9M21.2 19.6C19.9 19.8 18.7 20.7 17.7 21.1 16.6 20.7 15.3 19.8 14 19.6 11.9 19.4 9.7 19.6 7.6 19.9 3.3 20.4 0.3 23.5 0.2 27.9 0.1 35.3 0.1 42.8 0.2 50.3 0.3 53.5 1.8 56.2 4.8 57.4 9 59.2 13.3 59.5 17.6 57.4 17.6 60.4 17.6 63.5 17.6 66.5 17.6 67.9 17 68.5 15.7 68.5 15.2 68.5 14.7 68.5 14.2 68.5 9.7 68.5 9.6 68.5 9.7 73.1 9.7 74 9.8 74.9 9.9 75.8 10 76.9 11 77.8 12.1 77.8L18.8 77.8C18.9 77.8 19 77.8 19.1 77.8 20.1 77.8 21.1 77.6 22 77.2 25.5 75.8 27.2 73.1 27.2 68.8 27.2 54.3 27.2 39.7 27.2 25.1 27.2 19.1 27.2 19 21.2 19.6"/><path d="M111.8 28.3L111.8 21.3C111.8 20.3 111.1 19.6 110.1 19.6L110.1 19.6C103.2 19.5 96.2 19.6 89.2 19.5 88 19.5 87.5 20 87.7 21.6 87.9 23.5 87.9 25.5 87.7 27.5 87.5 29 88 29.3 89.2 29.3 92.4 29.3 95.6 29.3 98.8 29.3 99.3 29.3 99.7 29.4 100.3 29.5 96.3 35.7 92.4 41.7 88.5 47.7 88.1 48.4 87.7 49.3 87.7 50.1 87.6 52.4 87.7 54.8 87.6 57.1 87.6 58.3 88.1 58.7 89.3 58.7 96.2 58.6 103.1 58.7 110 58.6L110.4 58.6C111.2 58.6 111.8 58 111.8 57.3L111.8 50.5C111.8 49.6 111.1 48.9 110.3 48.9 110 48.9 110.1 48.9 109.7 48.9 106.2 48.8 102.7 48.9 98.9 48.9 103.2 42.2 107.3 35.8 111.4 29.4 111.7 29.1 111.8 28.7 111.8 28.3"/><path d="M45 39.1C45 33.2 44.9 27.3 45 21.5 45 20.1 44.6 19.5 43.2 19.5L43.2 19.5C41.1 19.6 39 19.6 36.9 19.5L36.9 19.5C35.8 19.5 35.3 19.9 35.3 21.1 35.4 33.1 35.4 45.1 35.3 57.2 35.3 58.4 35.8 58.7 36.9 58.7 37.9 58.7 38.9 58.6 40 58.6 41 58.6 42 58.6 43 58.7 43.1 58.7 43.1 58.7 43.2 58.7 43.2 58.7 43.3 58.7 43.3 58.7 44.4 58.7 44.8 58.3 45 57.4 45 57.2 45 56.9 45 56.6 44.9 50.8 45 45 45 39.1"/><path d="M69.8 33.9C69.8 35.7 69.8 37.4 69.8 39.2 69.8 41.9 69.7 44.7 69.8 47.4 69.8 48.5 69.5 48.9 68.4 48.9 62.8 48.9 61.6 49.3 61.8 42.7 61.9 39.3 61.8 35.9 61.9 32.5 61.9 30.1 62.6 29.3 65 29.3 70.9 29.3 69.6 28.6 69.8 33.9M73.3 19.6C72.1 19.8 70.9 20.7 69.9 21.1 68.7 20.7 67.5 19.8 66.2 19.6 64.1 19.4 61.9 19.6 59.7 19.9 55.5 20.4 52.4 23.5 52.4 27.9 52.2 35.3 52.2 42.8 52.4 50.3 52.4 53.5 54 56.2 56.9 57.4 61.1 59.2 65.5 59.5 69.8 57.4 69.8 60.4 69.8 63.5 69.8 66.5 69.8 67.9 69.1 68.5 67.9 68.5 67.4 68.5 66.9 68.5 66.4 68.5 61.8 68.5 61.8 68.5 61.9 73.1 61.9 74 62 74.9 62.1 75.8 62.2 76.9 63.1 77.8 64.3 77.8L70.9 77.8C71 77.8 71.1 77.8 71.2 77.8 72.3 77.8 73.3 77.6 74.2 77.2 77.7 75.8 79.4 73.1 79.4 68.8 79.4 54.3 79.4 39.7 79.4 25.1 79.4 19.1 79.4 19 73.3 19.6"/></g></g></svg>');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      width: 78px;
      height: 54px;
      margin-bottom: 35px;
    }
  }

  &__address {
    margin-bottom: 12px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__phone {
    display: inline-block;
    margin-bottom: 23px;
    color: @white;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 25px;
    }
  }

  .sharing {
    display: block;
  }

  .sharing__item {
    font-size: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    vertical-align: top;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
      margin: 0 12px;
    }

    &.vk {
      background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M28.088 8.602c.188-.635 0-1.102-.907-1.102h-3c-.763 0-1.114.401-1.303.848 0 0-1.528 3.712-3.687 6.12-.697.695-1.018.918-1.4.918-.189 0-.479-.223-.479-.858V8.602c0-.762-.214-1.102-.845-1.102H11.75c-.479 0-.764.355-.764.686 0 .72 1.08.888 1.192 2.92v4.407c0 .965-.173 1.143-.555 1.143-1.019 0-3.494-3.727-4.96-7.993C6.367 7.835 6.077 7.5 5.308 7.5h-3c-.855 0-1.028.401-1.028.848 0 .792 1.018 4.728 4.74 9.928 2.48 3.55 5.974 5.474 9.152 5.474 1.91 0 2.144-.427 2.144-1.163 0-3.392-.173-3.712.784-3.712.443 0 1.207.223 2.99 1.935 2.037 2.031 2.373 2.94 3.514 2.94h3c.855 0 1.288-.427 1.038-1.27-.57-1.772-4.425-5.418-4.599-5.662-.443-.568-.315-.822 0-1.33.006-.005 3.667-5.144 4.044-6.886z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');

      @media (min-width: 769px) {
        &:hover {
          background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M28.088 8.602c.188-.635 0-1.102-.907-1.102h-3c-.763 0-1.114.401-1.303.848 0 0-1.528 3.712-3.687 6.12-.697.695-1.018.918-1.4.918-.189 0-.479-.223-.479-.858V8.602c0-.762-.214-1.102-.845-1.102H11.75c-.479 0-.764.355-.764.686 0 .72 1.08.888 1.192 2.92v4.407c0 .965-.173 1.143-.555 1.143-1.019 0-3.494-3.727-4.96-7.993C6.367 7.835 6.077 7.5 5.308 7.5h-3c-.855 0-1.028.401-1.028.848 0 .792 1.018 4.728 4.74 9.928 2.48 3.55 5.974 5.474 9.152 5.474 1.91 0 2.144-.427 2.144-1.163 0-3.392-.173-3.712.784-3.712.443 0 1.207.223 2.99 1.935 2.037 2.031 2.373 2.94 3.514 2.94h3c.855 0 1.288-.427 1.038-1.27-.57-1.772-4.425-5.418-4.599-5.662-.443-.568-.315-.822 0-1.33.006-.005 3.667-5.144 4.044-6.886z" fill="%23ed700b" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
        }
      }
    }
    &.inst {
      background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>inst_white_big</title><g fill="none" fill-rule="evenodd"><path d="M15.005 9.262A5.742 5.742 0 0 0 9.26 15.02a5.742 5.742 0 0 0 5.745 5.758c3.18 0 5.745-2.57 5.745-5.758a5.742 5.742 0 0 0-5.745-5.758zm0 9.501a3.743 3.743 0 1 1 0-7.487 3.743 3.743 0 0 1 0 7.487zm7.32-9.736c0 .746-.6 1.343-1.34 1.343-.745 0-1.34-.602-1.34-1.343 0-.742.6-1.343 1.34-1.343.74 0 1.34.601 1.34 1.343zm3.805 1.363c-.085-1.8-.495-3.393-1.81-4.706-1.31-1.313-2.9-1.724-4.695-1.814-1.85-.105-7.395-.105-9.245 0-1.79.085-3.38.496-4.695 1.81-1.315 1.312-1.72 2.906-1.81 4.705-.105 1.854-.105 7.411 0 9.265.085 1.8.495 3.393 1.81 4.706C7 25.669 8.585 26.08 10.38 26.17c1.85.105 7.395.105 9.245 0 1.795-.085 3.385-.496 4.695-1.814 1.31-1.313 1.72-2.907 1.81-4.706.105-1.854.105-7.406 0-9.26zm-2.39 11.25a3.786 3.786 0 0 1-2.13 2.134c-1.475.587-4.975.452-6.605.452-1.63 0-5.135.13-6.605-.452a3.786 3.786 0 0 1-2.13-2.134c-.585-1.479-.45-4.986-.45-6.62 0-1.634-.13-5.146.45-6.62A3.786 3.786 0 0 1 8.4 6.266c1.475-.587 4.975-.451 6.605-.451 1.63 0 5.135-.13 6.605.45A3.786 3.786 0 0 1 23.74 8.4c.585 1.479.45 4.986.45 6.62 0 1.634.135 5.146-.45 6.62z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');

      @media (min-width: 769px) {
        &:hover {
          background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>inst_white_big</title><g fill="none" fill-rule="evenodd"><path d="M15.005 9.262A5.742 5.742 0 0 0 9.26 15.02a5.742 5.742 0 0 0 5.745 5.758c3.18 0 5.745-2.57 5.745-5.758a5.742 5.742 0 0 0-5.745-5.758zm0 9.501a3.743 3.743 0 1 1 0-7.487 3.743 3.743 0 0 1 0 7.487zm7.32-9.736c0 .746-.6 1.343-1.34 1.343-.745 0-1.34-.602-1.34-1.343 0-.742.6-1.343 1.34-1.343.74 0 1.34.601 1.34 1.343zm3.805 1.363c-.085-1.8-.495-3.393-1.81-4.706-1.31-1.313-2.9-1.724-4.695-1.814-1.85-.105-7.395-.105-9.245 0-1.79.085-3.38.496-4.695 1.81-1.315 1.312-1.72 2.906-1.81 4.705-.105 1.854-.105 7.411 0 9.265.085 1.8.495 3.393 1.81 4.706C7 25.669 8.585 26.08 10.38 26.17c1.85.105 7.395.105 9.245 0 1.795-.085 3.385-.496 4.695-1.814 1.31-1.313 1.72-2.907 1.81-4.706.105-1.854.105-7.406 0-9.26zm-2.39 11.25a3.786 3.786 0 0 1-2.13 2.134c-1.475.587-4.975.452-6.605.452-1.63 0-5.135.13-6.605-.452a3.786 3.786 0 0 1-2.13-2.134c-.585-1.479-.45-4.986-.45-6.62 0-1.634-.13-5.146.45-6.62A3.786 3.786 0 0 1 8.4 6.266c1.475-.587 4.975-.451 6.605-.451 1.63 0 5.135-.13 6.605.45A3.786 3.786 0 0 1 23.74 8.4c.585 1.479.45 4.986.45 6.62 0 1.634.135 5.146-.45 6.62z" fill="%23ed700b" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
        }
      }
    }
    &.yt {
      background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>yt_white_big</title><g fill="none" fill-rule="evenodd"><path d="M26.937 8.988a3.129 3.129 0 0 0-2.203-2.215C22.791 6.25 15 6.25 15 6.25s-7.791 0-9.734.523a3.129 3.129 0 0 0-2.203 2.215c-.52 1.954-.52 6.03-.52 6.03s0 4.076.52 6.03c.287 1.077 1.131 1.89 2.203 2.179 1.943.523 9.734.523 9.734.523s7.791 0 9.734-.523c1.072-.289 1.916-1.102 2.203-2.18.52-1.953.52-6.03.52-6.03s0-4.075-.52-6.029zm-14.485 9.73v-7.401l6.512 3.7-6.512 3.701z" fill="%23FFF" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');

      @media (min-width: 769px) {
        &:hover {
          background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>yt_white_big</title><g fill="none" fill-rule="evenodd"><path d="M26.937 8.988a3.129 3.129 0 0 0-2.203-2.215C22.791 6.25 15 6.25 15 6.25s-7.791 0-9.734.523a3.129 3.129 0 0 0-2.203 2.215c-.52 1.954-.52 6.03-.52 6.03s0 4.076.52 6.03c.287 1.077 1.131 1.89 2.203 2.179 1.943.523 9.734.523 9.734.523s7.791 0 9.734-.523c1.072-.289 1.916-1.102 2.203-2.18.52-1.953.52-6.03.52-6.03s0-4.075-.52-6.029zm-14.485 9.73v-7.401l6.512 3.7-6.512 3.701z" fill="%23ed700b" fill-rule="nonzero"/><path d="M0 0h30v30H0z"/></g></svg>');
        }
      }
    }
  }
}