.portfolio {

  &__inner {
    padding-top: 122px;
    padding-bottom: 188px;

    @media (max-width: 768px) {
      padding: 56px 0 76px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      margin-bottom: 26px;
      padding: 0 25px;
    }
  }

  &__link {
    font-size: 18px;
    font-family: 'GothamPro';
    font-weight: 500;
    float: right;
    margin-top: -1px;
    text-decoration: underline;
    cursor: pointer;
    color: @orange;

    @media (min-width: 769px) {
      &:hover {
        text-decoration: none;
      }
    }

    @media (max-width: 768px) {
      font-size: 11px;
      position: absolute;
      top: 9px;
      right: 25px;
    }
  }

  &__list {
    margin: 0 -15px;

    @media (max-width: 768px) {
      overflow-x: auto;
      padding: 0 25px;
      white-space: nowrap;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    width: 360px;
    height: 360px;
    margin: 0 13px 30px;
    border-radius: 4px;
    background-color: #000;
    background-image: url('../img/portfolio_noize.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.2);

    @media (max-width: 768px) {
      width: 250px;
      height: 250px;
      margin: 0 9px;
    }

    &:hover {
      .portfolio__item-hover {
        opacity: 1;
      }
    }
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item-hover {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    transition: ease opacity .15s;
    background-color: rgba(36,36,36,.7);

    @media (max-width: 768px) {
      padding: 14px 22px;
      opacity: 1;
      background: none;
    }
  }

  &__item-title {
    font-family: 'PFDinTextCompPro';
    font-size: 36px;
    letter-spacing: .1px;
    font-weight: 500;
    line-height: 54px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__item-event {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__item-place {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__item-date {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }


  &__slider-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    visibility: hidden;
    opacity: 0;
    transition: ease all .3s;
    text-align: center;

    &.shown {
      visibility: visible;
      opacity: 1;
    }

    .slick-slider {
      position: relative;
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;
      width: 54px;
      height: 54px;

      &:before {
        width: 18px;
        height: 36px;
        opacity: 1;
        background-image: url('data:image/svg+xml;utf8,<svg width="28" height="41" viewBox="0 0 28 41" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h28v41H0z"/><path stroke="%23FFF" stroke-width="5" d="M22.466 37.15L5 20.07 22.466 3"/></g></svg>');
        background-size: cover;
      }

      &:hover {
        &:before {
          background-image: url('data:image/svg+xml;utf8,<svg width="28" height="41" viewBox="0 0 28 41" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h28v41H0z"/><path stroke="%23666" stroke-width="5" d="M22.466 37.15L5 20.07 22.466 3"/></g></svg>');
        }
      }
    }

    .slick-next {
      right: 20px;
    }

    .slick-prev {
      left: 20px;
    }
  }

  &__slider-wrap:before {
    height: 100%;
    display: inline-block;
    content: '';
    vertical-align: middle;
  }

  &__slider-close {
    z-index: 1;
    position: absolute;
    top: 17px;
    right: 20px;
    width: 24px;
    height: 30px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="%23fff" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="%23666" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>');
    }
  }


  &__slider_inner {
    position: relative;
    width: 1200px;
    height: 890px;
    margin: 20px auto;
    vertical-align: middle;
    display: inline-block;
  }


  &__slider {
    width: 1200px;
    height: 890px;
  }

  &__slide {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 890px !important;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__slide-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 21px 30px;
  }

  &__slide-text {
    text-align: left;
  }

  &__slide-name {
    font-family: 'PFDinTextCompPro';
    font-size: 36px;
    letter-spacing: .1px;
    font-weight: 500;
    line-height: 54px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__slide-event {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__slide-place {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  &__slide-date {
    font-size: 16px;
    line-height: 24px;
    color: @white;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}