.preview {
  padding-top: 97px;
  padding-bottom: 121px;

  @media (max-width: 768px) {
    padding-top: 75px;
    padding-bottom: 84px;
  }

  &__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 31px;

    @media (max-width: 768px) {
      font-size: 33px;
      line-height: 36px;
      margin-bottom: 19px;
    }

    .title__details {
      @media (max-width: 768px) {
        letter-spacing: -1px;
        display: block;
        margin-top: -1px;
      }
    }
  }

  &__list {
    columns: 2;

    @media (max-width: 768px) {
      columns: 1;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 1px;
    padding: 10px 40px 6px;
    border-radius: 5px;

    @media (max-width: 768px) {
      padding: 8px 9px 4px;
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      background-color: #404040;
    }

    &:nth-child(even) {
      background-color: #323232;
    }
  }

  &__info {
    float: left;

    @media (max-width: 1600px) {
      width: 70%;
    }
  }

  &__date,
  &__name,
  &__city {
    font-size: 28px;
    font-family: 'PFDinTextCompPro';
    font-weight: 200;
    letter-spacing: .1px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 21px;
      letter-spacing: -1px;
    }
  }

  &__date,
  &__name {
    display: inline-block;
    color: @white;
  }

  &__date {
    margin-right: 32px;

    @media (max-width: 768px) {
      margin-right: 8px;
    }
  }

  &__name {
    font-weight: 500;

    @media (max-width: 1600px) {
      overflow: hidden;
      max-width: calc(~'100% - 86px');
      padding-right: 30px;
      vertical-align: top;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__city {
    float: right;
    overflow: hidden;
    width: calc(~'100% - 490px');
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: @gray-light;

    @media (max-width: 1600px) {
      width: 30%;
    }

    @media (max-width: 768px) {
      // width: calc(~'100% - 200px');
      text-align: right;
    }
  }

}