.promo {
  position: relative;
  padding-top: 293px;
  text-align: center;
  // background-image: url('../img/promo_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: 768px) {
    padding-top: 132px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/promo_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity:0;
    animation: anim_slides 15s linear infinite;

    &:nth-of-type(1) {
      background-image: url('../img/promo_bg_1.jpg');
    }

    &:nth-of-type(2) {
      animation-delay: 5s;
      background-image: url('../img/promo_bg_2.jpg');
    }

    &:nth-of-type(3) {
      animation-delay: 10s;
      background-image: url('../img/promo_bg_3.jpg');
    }
  }

  @keyframes anim_slides {
    0% {opacity: 0;}
    11.1%{opacity: 1;}
    22.2%{opacity: 1;}
    33.3%{opacity: 0.2;}
    38%{opacity: 0;}
    100%{opacity: 0;}
  }

  &__inner {
    position: relative;
    margin-bottom: 130px;

    @media (max-width: 768px) {
      margin-bottom: 18px;
    }
  }

  &__title {
    font-family: 'PFDinTextCondPro';
    max-width: 620px;
    margin: 0 auto 44px;

    @media (max-width: 768px) {
      line-height: 34px;
      margin-bottom: 30px;
    }
  }

  &__search {
    position: relative;
    max-width: 478px;
    margin: 0 auto 49px;

    @media (max-width: 768px) {
      margin-bottom: 32px;
      padding: 0 10px;
    }
  }

  &__search-input {
    font-size: 16px;
    letter-spacing: .1px;
    width: 100%;
    height: 60px;
    padding: 0 74px 0 27px;
    color: @gray-light;
    border-radius: 50px;
    background-color: @white;
    box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.2);

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 19px;
      height: 40px;
      padding: 0 50px 0 20px;
    }
  }

  &__search-btn {
    font-size: 0;
    position: absolute;
    top: 50%;
    right: 26px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    // cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h28v28H0z"/><path d="M25.635 24.271l-5.916-6.188a10.096 10.096 0 0 0 2.354-6.49c0-5.565-4.502-10.093-10.036-10.093S2 6.028 2 11.594c0 5.565 4.503 10.093 10.037 10.093a9.89 9.89 0 0 0 5.75-1.826l5.961 6.235c.25.26.585.404.944.404.34 0 .662-.13.907-.367.52-.504.537-1.338.036-1.862zM12.037 4.133c4.09 0 7.418 3.347 7.418 7.46 0 4.115-3.328 7.461-7.418 7.461s-7.419-3.346-7.419-7.46 3.328-7.46 7.419-7.46z" fill="%23808080" fill-rule="nonzero"/></g></svg>');
    background-repeat: no-repeat;

    // @media (min-width: 769px) {
    //   &:hover {
    //     opacity: .8;
    //   }
    // }

    // &:active {
    //   opacity: .95;
    // }

    @media (max-width: 768px) {
      right: 30px;
      width: 18px;
      height: 18px;
      background-image: url('data:image/svg+xml;utf8,<svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h18v18H0z"/><path d="M16.48 15.603l-3.804-3.978a6.49 6.49 0 0 0 1.514-4.172c0-3.578-2.894-6.489-6.452-6.489s-6.452 2.911-6.452 6.49c0 3.577 2.894 6.488 6.452 6.488a6.358 6.358 0 0 0 3.696-1.174l3.833 4.008a.835.835 0 0 0 1.19.023.85.85 0 0 0 .023-1.196zM7.738 2.657c2.63 0 4.769 2.151 4.769 4.796 0 2.645-2.14 4.796-4.77 4.796-2.629 0-4.768-2.151-4.768-4.796 0-2.645 2.14-4.796 4.769-4.796z" fill="gray" fill-rule="nonzero"/></g></svg>');
    }

  }

  &__text {
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 34px;
    max-width: 700px;
    margin: 0 auto;
    color: @white;

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: 19px;
    }
  }

  &__text-main {
    font-weight: 500;
  }

  &__text-info {
    font-weight: 400;
    margin-bottom: -3px;
  }

  &__text-link {
    font-weight: 500;
    text-decoration: underline;
    color: @white;

    &:hover {
      text-decoration: none;
      color: @white;
    }
  }
}