.reviews {
  padding: 140px 0 88px;
  text-align: center;
  background-image: url('../img/reviews_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: 768px) {
    padding: 62px 0 54px;
    text-align: left;
  }

  &__inner {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 768px) {
      z-index: 1;
      position: relative;
      margin-bottom: 0;
      padding: 0 25px;
    }
  }

  &__list {
    @media (max-width: 768px) {
      margin-top: -62px;
    }
  }

  .review {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 0 25px;
    }

    &__photo {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: 240px;
      height: 240px;
      margin-right: 32px;
      vertical-align: top;
      border-radius: 50%;

      @media (max-width: 768px) {
        float: right;
        width: 80px;
        height: 80px;
        margin-right: 0;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
      }
    }

    &__info {
      display: inline-block;
      max-width: 893px;
    }

    &__text {
      font-size: 16px;
      line-height: 28px;
      position: relative;
      padding: 64px 110px 28px 84px;
      text-align: left;
      vertical-align: top;
      color: @white;

      @media (max-width: 768px) {
        font-size: 13px;
        line-height: 19px;
        padding: 25px 31px 12px;
      }


      &:before,
      &:after {
        position: absolute;
        display: inline-block;
        width: 108px;
        height: 108px;
        content: '';
        background-image: url('data:image/svg+xml;utf8,<svg width="108" height="108" viewBox="0 0 108 108" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M108 108H0V0h108z"/><path d="M24.4 2.6h24l-11.2 52h10V105H2.4V55.8l22-53.2zm57.6 0h24l-11.6 52h10.4V105H60V55.8L82 2.6z" fill-opacity=".098" fill="%23FFF"/></g></svg>');
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 768px) {
          width: 35px;
          height: 35px;
        }
      }

      &:before {
        top: 0;
        left: 0;

        @media (max-width: 768px) {
          top: 14px;
          left: 10px;
        }
      }

      &:after {
        right: -4px;
        bottom: -37px;
        transform: rotate(180deg);

        @media (max-width: 768px) {
          right: 10px;
          bottom: -18px;
        }

      }
    }

    &__author-info {
      padding-left: 84px;
      text-align: left;

      @media (max-width: 768px) {
        padding-left: 31px;
      }
    }

    &__author {
      font-size: 35px;
      font-family: 'PFDinTextCompPro';
      font-weight: 500;
      margin-bottom: 4px;
      color: @white;

      @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 0;
      }
    }

    &__author-position {
      font-size: 14px;
      color: @white;

      @media (max-width: 768px) {
        font-size: 9px;
      }
    }
  }

  &__clients {
    margin-top: 164px;

    @media (max-width: 768px) {
      margin-top: 63px;
    }

    .title {
      margin-bottom: 31px;

      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

  &__clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 768px) {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }

  &__clients-item {
    margin: 0 10px 91px;

    @media (max-width: 768px) {
      margin: 0 25px;
    }
  }

  &__clients-item {
    display: inline-block;
    
    .reviews__clients-link {
      font-size: 0;
      display: inline-block;
      opacity: 0.3;
      vertical-align: top;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        opacity: 1;
      }
    }

    &.gazprom {
      width: 173px;
      height: 86px;

      @media (max-width: 768px) {
        width: 103px;
        height: 52px;
      }

      .reviews__clients-link {
        background-image: url('../img/logos/clients_gazprom.png');
        width: 173px;
        height: 86px;

        @media (max-width: 768px) {
          width: 103px;
          height: 52px;
        }
      }
    }
    &.vtb {
      width: 160px;
      height: 59px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_vtb.svg');
        width: 160px;
        height: 59px;

        @media (max-width: 768px) {
          width: 97px;
          height: 36px;
        }
      }

      @media (max-width: 768px) {
        width: 97px;
        height: 36px;
      }
    }
    &.mts {
      width: 190px;
      height: 68px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_mts.svg');
        width: 190px;
        height: 68px;

        @media (max-width: 768px) {
          width: 114px;
          height: 40px;
        }
      }

      @media (max-width: 768px) {
        width: 114px;
        height: 40px;
      }
    }
    &.airlines {
      width: 350px;
      height: 56px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_airlines.png');
        width: 350px;
        height: 56px;

        @media (max-width: 768px) {
          width: 210px;
          height: 34px;
        }
      }

      @media (max-width: 768px) {
        width: 210px;
        height: 34px;
      }
    }
    &.evroset {
      width: 274px;
      height: 38px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_evroset.svg');
        width: 274px;
        height: 38px;

        @media (max-width: 768px) {
          width: 164px;
          height: 23px;
        }
      }

      @media (max-width: 768px) {
        width: 164px;
        height: 23px;
      }
    }
    &.megafon {
      width: 290px;
      height: 51px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_megafon.svg');
        width: 290px;
        height: 51px;

        @media (max-width: 768px) {
          width: 174px;
          height: 31px;
        }
      }

      @media (max-width: 768px) {
        width: 174px;
        height: 31px;
      }
    }
    &.vkmobile {
      width: 210px;
      height: 69px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_vkmobile.svg');
        width: 210px;
        height: 69px;

        @media (max-width: 768px) {
          width: 126px;
          height: 41px;
        }
      }

      @media (max-width: 768px) {
        width: 126px;
        height: 41px;
      }
    }
    &.pzd {
      width: 160px;
      height: 72px;

      .reviews__clients-link {
        background-image: url('../img/logos/clients_pzd.svg');
        width: 160px;
        height: 72px;

        @media (max-width: 768px) {
          width: 96px;
          height: 43px;
        }
      }

      @media (max-width: 768px) {
        width: 121px;
        height: 43px;
        padding-right: 25px;
      }
    }
  }

  &__list {}
}