.sandwitch {
  position: relative;
  display: none;
  width: 24px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  @media (max-width: 768px) {
    z-index: 2;
    display: block;
  }

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    transition: .25s ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
    background-color: @white;
    &:nth-of-type(1) {
      top: 0px;
    }

    &:nth-of-type(2) {
      top: 8px;
    }

    &:nth-of-type(3) {
      top: 16px;
    }
  }

  &.open {
    .sandwitch__line {
      background-color: @orange;
    }

    .sandwitch__line:nth-of-type(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    .sandwitch__line:nth-of-type(2) {
      left: 60px;
      opacity: 0;
    }

    .sandwitch__line:nth-of-type(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
}