.sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px 25px;
  background-color: rgba(48,48,48,.98);

  &__inner {
    padding-top: 93px;
    text-align: center;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    display: block;
  }

  &__item-link {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 20px;
    opacity: .5;
    cursor: pointer;
    color: @white;

    &:hover,
    &:active,
    &.active {
      opacity: 1;
    }
  }

  &__phone {
    font-size: 23px;
    color: @white;
    display: block;
    margin-bottom: 30px;
  }
}